<extends src="src/layouts/master.html">
  <block name="template">

    <component src="src/components/hero/hero.html"></component>

    <!-- Logo -->
    <table class="py-4 w-600 m-auto  sm_md:ml-0 sm_md:w-auto">
      <tr>
        <td class="">
          <a class="" href="https://sparceurope.org/" target="_blank">
            <img
              class="p-24 pb-0 pl-0 sm_md:pl-24 max-w-1/8 v-logo"
              src="images/sparc-europe.jpg"
              alt="Sparc Europe Logo"
              width="250"
              height="100"
            >
          </a>
        </td>
      </tr>
    </table>

    <!-- content block 1 -->
    <component
      locals='
      {
        "title": "Map Our Infustructure",
        "h": "h1",
        "text": "A one year-project aimed at gathering insights into scholarly communications infrastructure in Europe recently launched. Funded by the Open Society Foundations and led by SPARC Europe, the project will identify scholarly communication infrastructure that is Europe-based; identify the business models being used by said infrastructure; and determine the degree of openness of the infrastructure while also exploring what kinds of measures might be taken to mkae it more open.",
        "url_link": "https://sparceurope.org/",
        "url_target": "_blank",
        "url_text": "Read More"
      }'
      src="src/components/content/content.html">
    </component>

    <!-- cta 1 -->
    <component
      locals='
      {
        "bgcolor": "bg-blue-100",
        "title": "Get an early look: Initial results from recent study of OE landscape among Higher Education libraries in Europe",
        "text": "In late 2019, SPARC Europe, in consultation with the European Network of Open Education Librarians (ENOEL), launched a survey, a first of its kind, designed to gather insights into the current Open Education (OE) landscape within Higher Education libraries. Interim results from this work have recently been published in the 2020 Envisioning Report for Empowering Universities. Our final report is scheduled to publish in May 2020.",
        "img": "images/the-envisioning-report-for-empowering-universities.jpeg",
        "alt": "The Envisioning Report For Empowering Universities",
        "url_link": "https://sparceurope.org/",
        "url_target": "_blank",
        "url_text": "Read More"
      }'
      src="src/components/callout/callout.html">
    </component>

    <!-- content block 2 -->
    <component
      locals='
      {
        "title": "Why, in your opinion, do we need Open Access to research?",
        "h": "h2",
        "text": "Open Access publishing is particularly relevant in environmental health because the field directly relates to decisions in society, issues that often attract public attention. To make the best possible decisions as a society, documentation on environmental hazards should be shared with the public, policy makers, the private sector, and other interested parties. In other words, the results of such concerning science should be widely accessible to all, with no excessive fees to pay, particularly since science is often financed by public funds. My ambition was therefore to use the Open Access opportunity to help environmental health research become more readily available and thereby more useful.",
        "url_link": "https://sparceurope.org/",
        "url_target": "_blank",
        "url_text": "Read More"
      }'
      src="src/components/content/content.html">
    </component>

    <!-- cta 2 -->
    <component
      locals='
      {
        "bgcolor": "bg-gray-200",
        "title": "stay-sane-stay-safe.com/",
        "text": "A Dutch design studio and a textbureau started an open project to support caregivers in this time of the Coronavirus pandemic. They designed posters themselves and also called on designers worldwide to do so. Hundreds of designers worldwide participated! Now there are more than a thousand poster designs from 73 countries. Free to download, print and share on socials!",
        "img": "images/DESIGN&KO.jpg",
        "alt": "Use Your Creativity For Everyone To Find And Answer",
        "url_link": "https://stay-sane-stay-safe.com",
        "url_target": "_blank",
        "url_text": "stay-sane-stay-safe.com"
      }'
      src="src/components/callout/callout.html">
    </component>

    <!-- Footer -->
    <table class="flex justify-center font-sans p-24">
      <tr>
        <td class="text-sm max-w-600">
          This news brief was compiled and distributed by the SPARC Europe staff. Any questions or comments can be directed to <a href="mailto:angela@freshtonicmarketing.com?subject=Sparc%20Email%20-%20Aug.%202020" target="_blank"><strong>Angela Walseng</strong></a>, Communications Adviser for SPARC Europe.
        </td>
      </tr>
    </table>

  </block>
</extends>