<table class="w-full font-sans bg-yellow-300 relative">
  <tr>
    <td class="p-24 text-5xl">
      #6<span class="text-white v-pipe">|</span>20
    </td>
  </tr>
  <tr>
    <td class="p-24 pb-64 md:pb-16 text-hero xsm:text-6xl font-extrabold text-white v-hero__title">
      open
    </td>
  </tr>
</table>

<table class="w-full font-sans bg-yellow-300 relative">
  <tr>
    <td class="max-w-3/5 md:max-w-4/6 sm:max-w-full px-24 pb-24 block v-hero__subtitle text-lg">
      ESSENTIAL UPDATES FOR THOSE WORKING TO ADVANCE OPEN IN EUROPE<br>
      <strong>A SPARC Europe publication</strong>
    </td>
  </tr>
</table>