.v-hero__subtitle-wrapper {
  position: relative !important;
  z-index: 1 !important;
}

.v-hero__subtitle {
  position: absolute !important;
  bottom: 0px !important;
  left: 150px !important;
  z-index: 1 !important;
}

@media screen and (max-width: 768px) {
  .v-hero__subtitle {
    position: relative !important;
    padding-left: 24px !important;
    width: calc(100% - 96px) !important;
    left: 0 !important;
  }
}

@media screen and (max-width: 414px) {
  .v-hero__title {
    padding-bottom: 0 !important;
  }
}
